/*玩法说明样式*/
.m-dialog_submit a{display: block; width:100%;}
.g-dialog_body.lotto_rule{padding: .833rem 1.41rem;}
.lotto_rule .tit{ line-height: 2.58rem; font-size: 1.33rem; font-weight: 700;}
.lotto_rule .des{line-height: 1.54rem; margin-top: .2rem;}
.lotto_rule .rule_tbl{display: table; margin: 1rem 0; border: #d8d7d7 solid 1px; border-collapse: collapse; width: 100%; box-sizing: border-box;}
.lotto_rule .rule_tbl .th,.lotto_rule .rule_tbl .td{ display: table-cell; border-bottom: #d8d7d7 solid 1px; vertical-align: middle; text-align: center; white-space: nowrap;}
.lotto_rule .rule_tbl .th{height: 2.41rem; background-color: #f4f4f4; color: #9f9f9f;}
.lotto_rule .rule_tbl .tr{display: table-row;}
.lotto_rule .rule_tbl .td{ padding: 1rem .1rem; line-height: 1.125rem;}
.lotto_rule .rule_tbl .balls{font-size:0; padding:  0; display: block; vertical-align: middle;}
.lotto_rule .rule_tbl .balls i{margin-right: 0.08rem;}
.lotto_rule .rule_tbl .balls i:last-child{margin-right: 0;}
.lotto_rule .rule_tbl .th.spline{ width: auto; font-size: 1rem; background-repeat: no-repeat; background-size: 1px .875rem; background-position: right center;}

.i-redball_mini,.i-blueball_mini,.i-greyball_mini{ border-radius: 50%; width:.875rem; height: .875rem; display: inline-block; }
.i-redball_mini{background-color: #eb3026;}
.i-blueball_mini{background-color: #438ed3;}
.i-greyball_mini{background-color: #ccc;}

.zsszcdebox .zsszcdeqhks {z-index:1}

#zst_page {overflow-x: hidden;}
