body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;word-break: break-word;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;font-family: "MicroSoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;}
select,input,button{    padding: 0;}
table{border-collapse:collapse;border-spacing:0;}
ul{list-style:none outside none;}
fieldset,img{border:0 none;}
caption,th{text-align:left;}
body{background:#fff;}
strong{font-weight:800;}
textarea{width: 100%;height: 100px}
img{ width:100%;height: auto;max-width: 100%; display: block; }  
blockquote{position: relative;text-indent: 2em;}
blockquote:before{content: "“";position: absolute; left: -76px;top: -18px; font-size: 72px ;font-family: '黑体';color: #D45D5C;}
blockquote:after{content: "”";position: absolute; right: -18px;bottom: -76px; font-size: 72px ;font-family: '黑体';color: #D45D5C;}
