.header{position: absolute; height: 56px; width: 100%; line-height: 56px; background-color: #228abf;}
.wrapper{width: 100%;height: 100%;margin: 0 auto;}
.logo{display: inline-block; height: 100%; margin-left: 51px;}
.logo>img{display: inline-block;  vertical-align: middle;}
.login{display: inline-block; float: right;margin-right: 94px;line-height:56px;font-size: 12px;font-family: "Adobe Heiti Std";color:#FFF;}
.search-box{margin-right: 20px;padding-left: 32px;padding-right: 10px; width: 313px; height: 28px; border: none; border-radius: 28px; vertical-align: middle; background-color: #FFF;box-sizing: border-box; overflow: hidden;}
.search-box:focus{border: 1px solid lightblue; border-radius: 28px; outline: none;}
.search-icon{position: absolute;display: inline-block;width: 20px;top: 20px;left: 10px;}
.search-wrapper{display: inline-block;position: relative;}
.user-login{float: right;}
.user-login:hover{cursor:  pointer;}
.user-login>img{ float: left; width: 15px; margin-top: 20px; margin-right: 5px;}

.side-bar{float: left; width: 260px; padding-top: 56px; box-sizing: border-box; min-height: 100%; background: #2a2e3d; }
.user-info{padding-top: 21px; padding-left: 46px; font-size: 16px;font-family: "SimHei";color: #bababe;}
.user-avatar-wrapper{display: inline-block; width: 47px; height: 47px; border-radius: 50px; border: 1px solid #bababe; padding: 5px; vertical-align: middle;}
.user-avatar{border-radius: 50px;}
.user-name{display: inline-block; margin-left: 20px;}
.user-data{margin-top: 15px;height: 30px;text-align: center; font: bold 12px "SimSun"; color: #6e8095;}
.user-stats{display: inline-block; padding: 0 31px;  }
.menu{margin-top: 22px; font: bold 12px "SimHei"; color: #515b6e;}
.menu>ul>li{padding-bottom: 16px;padding-left: 45px;}
.menu li{padding-top: 16px; padding-left: 25px; cursor: pointer;}
.menu li.on{background-color: #383d4e;}
.menu li>ul{display: none;}
.menu li.on>ul{display: block;}

.menu li.folder:before {content: url(../images/icon/icon_arrow_right.png); float: left;}
.menu li.folder.on:before {transform: rotate(90deg);}
.menu li>.ireport:before{content: url(../images/icon/icon_rep_on.png); padding-left: 9px; margin-right: 13px; display: inline-block; height: 100%; vertical-align: top;}
.menu li.on>.ireport:before{content: url(../images/icon/icon_rep_on.png); }
.menu li.on>.ireport{color: #FFF;font-weight: lighter;}
.menu li>.ifolder:before{content: url(../images/icon/icon_folder.png); padding-left: 9px; margin-right: 5px; display: inline-block; height: 100%; vertical-align: top;}
.menu li.on>.ifolder:before{content: url(../images/icon/icon_folder_on.png);}
.menu li.on>.ifolder{color: #FFF;font-weight: lighter;}
.menu li>.idoc:before{content: url(../images/icon/icon_doc.png); margin-right: 5px; display: inline-block; height: 100%; vertical-align: top;}
.menu li.on>.idoc:before{content: url(../images/icon/icon_doc_on.png);}
.menu li.on>.idoc{color: #FFF;font-weight: lighter;}
.menu li>.icollect:before{content: url(../images/icon/icon_collect.png); padding-left: 9px; margin-right: 13px; display: inline-block; height: 100%; vertical-align: top;}
.menu li.on>.icollect:before{content: url(../images/icon/icon_collect_on.png); }
.menu li.on>.icollect{color: #FFF;font-weight: lighter;}
.menu li>.ishare:before{content: url(../images/icon/icon_share.png); padding-left: 9px; margin-right: 13px; display: inline-block; height: 100%; vertical-align: top;}
.menu li.on>.ishare:before{content: url(../images/icon/icon_share.png); }
.menu li.on>.ishare{color: #FFF;font-weight: lighter;}
.menu li>.igallary:before{content: url(../images/icon/icon_collect.png); padding-left: 9px; margin-right: 13px; display: inline-block; height: 100%; vertical-align: top;}
.menu li.on>.igallary:before{content: url(../images/icon/icon_collect_on.png); }
.menu li.on>.igallary{color: #FFF;font-weight: lighter;}
.menu li>.igrow:before{content: url(../images/icon/icon_collect.png); padding-left: 9px; margin-right: 13px; display: inline-block; height: 100%; vertical-align: top;}
.menu li.on>.igrow:before{content: url(../images/icon/icon_collect_on.png); }
.menu li.on>.igrow{color: #FFF;font-weight: lighter;}
.menu li>.iaccount:before{content: url(../images/icon/icon_count.png); padding-left: 9px; margin-right: 13px; display: inline-block; height: 100%; vertical-align: top;}
.menu li.on>.iaccount:before{content: url(../images/icon/icon_count.png); }
.menu li.on>.iaccount{color: #FFF;font-weight: lighter;}

.main{padding-top: 56px; padding-left: 260px; min-height: 100%; box-sizing: border-box; background-color: #eeeeed;}
.nav-bar{position: fixed; padding-left: 31px; width: 100%; height: 31px; font: 12.3px/31px "SimHei"; color: #aaaaaa; background-color: #ffffff;}
.content{padding: 50px 70px;}
.search-form{ box-shadow: 0 0 1px 1px #838a96; background-color: #FFF;padding: 15px 30px; opacity: .5;line-height: 2em;}
.search-item{ position: relative; display: inline-block; vertical-align: top; padding-right: 47px;}
.search-label{float: left;padding-right: 16px;}
.switch-form{background: url(../images/icon/switch.png) no-repeat; height: 38px;position: absolute;  padding-right: 28px; right: 20px; top: 50%; transform: translateY(-50%);}
.search-btn{vertical-align: middle;}


.v-line{display: inline-block; vertical-align: top; width: 0px; height: 100%; border: 1px solid;color: #9c9ea7; opacity: .2;box-sizing: border-box;}
div[class*="col-"]{display: inline-block;box-sizing: border-box;}
.col-md-1 {width: 8.33333333%}	
.col-md-2 {width: 16.66666666%}	
.col-md-3 {width: 25%}	
.col-md-4 {width: 33.33333333%}	
.col-md-5 {width: 41.66666666%}	
.col-md-6 {width: 50%}
.col-md-7 {width: 58.33333333%}
.col-md-8 {width: 66.66666666%}
.col-md-9 {width: 75%}
.col-md-10 {width: 83.3333333%}
.col-md-11 {width: 75%}
.col-md-12 {width: 91.6666666%}

.flex-wrapper{display: block;overflow: hidden;}
.flex{width: 100%; box-sizing: border-box;}
.clearfix:after{clear: both;}
.pdr20{padding-right: 20px;}